<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Live Tracker</title>
<!-- Write your comments here -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawsom-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<body>
    <div class="container-fluid ">
       <header>
           <div class="container">
               <div class="row">
                   <div class="col-md-3">
                    <h2 class="w-100">Live Tracker</h2>
                        <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-lock"></i></a>
                   </div>
                   <div id="menu" class="col-md-9 d-none d-md-block">
                    {% block header_content %} {% endblock %}
                   </div>
               </div>
           </div>
       </header>
           
           <div class="register">
               <div class="container">
                {% block main_content %} {% endblock %}
               </div>
           </div>
            <div class="foter-credit">
                <a href="https://smarteyeapps.com/">Designed by : Smarteyeapps.com</a>  
            </div>
            
    </div>
   
</body>

<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/script.js"></script>


</html>
