{% extends 'base.html' %}

{% block header_content %}
<form action="#">
    <div class="row form-ro">

        <div class="col-md-5">
            <input placeholder="Enter User Name" type="text" class="form-control form-control-sm">
            <label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>Remember me
            </label>
        </div>
        <div class="col-md-5">
            <input placeholder="Enter Password" type="text" class="form-control form-control-sm">
            <a href="">Forget Password ?</a>
        </div>
        <div class="col-md-2">
            <button class="btn btn-dark" id="signin">Sign In</button>
            <button class= "btn btn-light" id="signin">GoogleLogin</button>
            
        </div>

    </div>
</form>
{% endblock %}