{% extends 'base.html' %}

{% block header_content %}
<form method="POST" action="{{ url_for('main.index') }}">
    {{ login_form.hidden_tag() }}
    <div class="row form-ro">

        <div class="col-md-5">
            {{ login_form.login_email.label(class="container") }}
            {{ login_form.login_email(placeholder="Enter email",class="form-control form-control-sm") }}
            {% for error in login_form.login_email.errors %}
            <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{ login_form.remember_me(class="checkmark") }} {{ login_form.remember_me.label }}
        </div>
        <div class="col-md-5">
            {{ login_form.password1.label(class="form-label") }}
            {{ login_form.password1(placeholder="Enter Password", class="form-control form-control-sm") }}
            {% for error in login_form.password1.errors %}
            <span style="color: rgb(100, 91, 91);">{{ error }}</span><br>
            {% endfor %}
            <a href="">Forget Password ?</a>
        </div>
        <div class="col-md-2">
            {{ login_form.submit1(class="btn btn-dark") }}
            <br></br>
            <a class="btn btn-dark" href="{{ url_for('main.oauth2_authorize', provider='github') }}" >Login with GitHub</a> 
        </div>

    </div>
</form>
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-lg-7 col-md-6">
        <div class="ditk-inf sup-oi">
            <h2 class="w-100">We are the Best <br>Internet Partner for You</h2>
            <p>At liveTracker, we're passionate about bringing you the exhilarating world of football right to your
                fingertips.you're in for a thrilling experience!
                Get ready to immerse yourself in the heart-pounding action of live football matches! Our platform is
                your go-to destination for real-time updates, scores, and comprehensive insights into ongoing games.
                Join us in celebrating the passion, the drama, and the sheer joy of football.
                Thank you for choosing us to share in your football journey. Let's kick off this exciting adventure
                together!"</p>
            <ul>
                <li><i class="fas fa-check"></i> Nam facilisis nibh sed nunc aliquam, et volutpat ipsum</li>
                <li><i class="fas fa-check"></i> dignissim sapien. Vestibulum non leo fringilla, luctus turpis quis</li>
                <li> <i class="fas fa-check"></i> Aliquam vitae augue nisi. Phasellus ut dui a neque</li>
            </ul>

        </div>
    </div>
    <div class="col-lg-5 col-md-6 ">
        <div class="register-box">
            <h2>New Registeration</h2>
            
            <form method="POST" action="{{ url_for('main.index') }}">
                {{ signup_form.hidden_tag() }}
                <div class="row form-row">
                    <div class="col-md-4">
                        <label for="">Full Name</label>
                        <span>:</span>
                    </div>
                    <div class="col-md-8">
                        {{ signup_form.name(placeholder="Enter Full Name",class="form-control form-control-sm") }}
                        {% for error in signup_form.name.errors %}
                            <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-4">
                        <label for="">Email Address</label>
                        <span>:</span>
                    </div>
                    <div class="col-md-8">
                        {{ signup_form.signup_email(placeholder="Enter Email",class="form-control form-control-sm") }}
                        {% for error in signup_form.signup_email.errors %}
                            <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-4">
                        <label for="">Mobile Number</label>
                        <span>:</span>
                    </div>
                    <div class="col-md-8">
                        {{ signup_form.mobile(placeholder="Enter Mobile Number",class="form-control form-control-sm") }}
                        {% for error in signup_form.mobile.errors %}
                            <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-4">
                        <label for="">Enter Password</label>
                        <span>:</span>
                    </div>
                    <div class="col-md-8">
                        {{ signup_form.password2(placeholder="Enter Password",class="form-control form-control-sm") }}
                        {% for error in signup_form.password2.errors %}
                            <span style="color: red;">{{ error }}</span><br>
                        {% endfor %}
                       
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        {{ signup_form.submit2(class="btn btn-dark") }}
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}