{% extends 'base.html' %}

{% block main_content %}
    <span class="title"><h1>{% block title %} All Users Page {% endblock %}</h1></span>
    <div class="content">

        {% for user in users %}
            <div class="user">
                <p><b>#{{ user.id }}</b></p>
                <p class="name">
                    <b>
                        <a href="#">
                            {{ user.name }}
                        </a>
                    </b>
                </p>
                <div class="mail">
                    <p>{{ user.email }}</p>
                </div>
                <hr>
            </div>
            <div class="mail">
                <p>{{ user.mobile }}</p>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
{% endblock %}